<footer style="text-align: center; display: block; position: fixed; bottom: 10px; width: 100%;">
    <hr style="border: 2px solid red;">
    <a style="padding: 5px;" href="#">Contact Us</a>
    <a style="padding: 5px;" href="#">Email:abc@abc.com</a>
    <a style="padding: 5px;" href="#">WhatsApp</a>
    <a style="padding: 5px;" href="#">LinkedIn</a>
</footer>